body {
	background: black;
	font-family: "Oxanium", cursive;
}

.postcard {
	background: white;
	width: 400px;
	height: 300px;
	margin: auto;
	margin-top: 170px;
	padding: 10px;
	border-radius: 7px;
}
.postcard-header {
	display: flex;
}
.postcard-header img {
	width: 50px;
	height: 50px;
}
.postcard-header h1 {
	width: 350px;
	margin: 0px;
}
.postcard-body {
	display: flex;
}
.body-left p:first-child {
	margin-top: 0%;
}

.body-left .body-right {
	padding: 15px;
}
input {
	border: none;
	border-bottom: 1px solid grey;
	font-family: "Oxanium", cursive;
	font-size: 13px;
}
.postcard-footer {
	text-align: center;
}
button {
	background-color: darkgrey;
	padding: 3px;
	font-family: "Oxanium", cursive;
	border: none;
	border-bottom: 1px solid black;
	border-right: 1px solid black;
}
